

    <!doctype html>
    <html lang="en">
      <head>
        <script src="//code.angularjs.org/1.4.3/angular.min.js"></script>
	      <script type="text/javascript" src="checkboxElements-3-14.js"></script>
      </head>
      <body ng-app="checkboxExample" ng-controller="ExampleController">
        <script>
          angular.module('checkboxExample', [])
            .controller('ExampleController', ['$scope', function ($scope) {
              $scope.checkboxModel = {
                value1: false,
                value2: 'YES'
              };
            }]);
        </script>
        <div>
          
          <h1>Hello AngularJs! v 1.4.3</h1>


          <form name="myForm" ng-controller="ExampleController">
            <ts-checkbox
              label="Value1"
              ng-model="checkboxModel.value1"
            >Value 1</ts-checkbox>
            <ts-checkbox
              label="Value2"
              ng-model="checkboxModel.value2"
            >Value 2</ts-checkbox>
            
            <tt>value1 = {{checkboxModel.value1}}</tt><br />
            <tt>value2 = {{checkboxModel.value2}}</tt><br />
            <tt>Using ng-bind <span style="color: green" ng-bind="checkboxModel.value1"></span></tt>
          </form>

        </div>
        
      </body>
    </html>


